import os
from settings import FILEROOT

# NB this is only for *uploaded* media
MEDIA_ROOT = os.path.join(FILEROOT, '..', 'media')

STATIC_ROOT = os.path.join(FILEROOT, '..', 'static')

DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    # ('Your Name', 'your_email@example.com'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'mikroact',
        'USER': 'postgres',
        'PASSWORD': None,
        'HOST': '',
        'PORT': '',
    }
}
