<ul id="vertical-ticker">
	<li class="item">
		<p class="title"><a href="#"><span style="font-weight: 700;">Delaisam</span>: Lorum</a></p>
		<p><span class="date">10am - Dec 1st-Dec 10th - Location</span><br />
		potenti. Aenean eu dictum ante.Donec quis augue id elit interdum ultrices ut quis nibh mauris tmpus viverra tincidunt.</p>
	</li>
	<li class="item">
		<p class="title"><a href="#"><span style="font-weight: 700;">Delaisam</span>: Lorum</a></p>
		<p><span class="date">10am - Dec 1st-Dec 10th - Location</span><br />
		potenti. Aenean eu dictum ante.Donec quis augue id elit interdum ultrices ut quis nibh mauris tmpus viverra tincidunt.</p>
	</li>
	<li class="item">
		<p class="title"><a href="#"><span style="font-weight: 700;">Delaisam</span>: Lorum</a></p>
		<p><span class="date">10am - Dec 1st-Dec 10th - Location</span><br />
		potenti. Aenean eu dictum ante.Donec quis augue id elit interdum ultrices ut quis nibh mauris tmpus viverra tincidunt.</p>
	</li>
	<li class="item">
		<p class="title"><a href="#"><span style="font-weight: 700;">Delaisam</span>: Lorum</a></p>
		<p><span class="date">10am - Dec 1st-Dec 10th - Location</span><br />
		potenti. Aenean eu dictum ante.Donec quis augue id elit interdum ultrices ut quis nibh mauris tmpus viverra tincidunt.</p>
	</li>
	<li class="item">
		<p class="title"><a href="#"><span style="font-weight: 700;">Delaisam</span>: Lorum</a></p>
		<p><span class="date">10am - Dec 1st-Dec 10th - Location</span><br />
		potenti. Aenean eu dictum ante.Donec quis augue id elit interdum ultrices ut quis nibh mauris tmpus viverra tincidunt.</p>
	</li>
</ul>
