<div class="container">
	<div class="row">
		<div class="span12">
			<div id="container" class="super-list variable-sizes clearfix">
				<div class="element complete ">
					<img src="http://placekitten.com/g/282/150">
					<div class="elementTitle">Project 1</div>
					<div class="elementWrap">Content</div>
				</div>
				<div class="element progress height2">
					<div class="ribbon-wrapper-green"><div class="ribbon-green">3</div></div>
					<img src="http://placekitten.com/282/200">
					<div class="elementTitle">Project 1</div>
					<div class="elementWrap">Content</div>
				</div>
				<div class="element progress height2">
					<img src="http://placekitten.com/g/282/200">
					<div class="elementTitle">Project 1</div>
					<div class="elementWrap">Content</div>
				</div>
				<div class="element action height3">
					<div class="ribbon-wrapper-green"><div class="ribbon-orange">3</div></div>
					<img src="http://placekitten.com/g/282/270">
					<div class="elementTitle">Project 1</div>
					<div class="elementWrap">Content</div>
				</div>
				<div class="element action height3">
					<img src="http://placekitten.com/g/282/270">
					<div class="elementTitle">Project 1</div>
					<div class="elementWrap">Content</div>
				</div>
				<div class="element complete ">
					<img src="http://placekitten.com/g/282/150">
					<div class="elementTitle">Project 1</div>
					<div class="elementWrap">Content</div>
				</div>
				<div class="element progress height2">
					<img src="http://placekitten.com/g/282/200">
					<div class="elementTitle">Project 1</div>
					<div class="elementWrap">Content</div>
				</div>
				<div class="element action height3">
					<div class="ribbon-wrapper-green"><div class="ribbon-orange">3</div></div>
					<img src="http://placekitten.com/282/270">
					<div class="elementTitle">Project 1</div>
					<div class="elementWrap">Content</div>
				</div>
				<div class="element progress height2">
					<img src="http://placekitten.com/g/282/200">
					<div class="elementTitle">Project 1</div>
					<div class="elementWrap">Content</div>
				</div>
				<div class="element complete ">
					<img src="http://placekitten.com/g/282/150">
					<div class="elementTitle">Project 1</div>
					<div class="elementWrap">Content</div>
				</div>
				<div class="element action height3">
					<div class="ribbon-wrapper-green"><div class="ribbon-green">3</div></div>
					<img src="http://placekitten.com/g/282/270">
					<div class="elementTitle">Project 1</div>
					<div class="elementWrap">Content</div>
				</div>
				<!--END TILES -->
			</div><!--END CONTAINER -->
		</div><!--END SPAN12 -->
	</div><!--END ROW -->
</div>
