{% extends "base.html" %}

{% block title %}{{ block.super }}: Campaigns{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="span12">
			
			<div class="mainCol campaigns">
				<div class="actions">
					<ul>
						<li><a href="{% url "campaign_add" %}"><i class="icon-sitemap icon-large"></i> Create Campaign</a></li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="tiles">
		{% for campaign in campaign_list %}
			<li class="span3">
				<a href="{{ campaign.get_absolute_url }}"><div class="campaignTile">
					{{ campaign.name }}<span class="campaignCount">{{ campaign.mikro_acts.count }} MikroActs</span>
				</div>
				</a>
			</li>
		{% endfor %}
		</ul>
		
		
	</div>
</div>
{% endblock content %}
