{% extends "base.html" %}
{% load guardian_tags %}
{% load follow_tags %}
{% block title %}{{ block.super }}: {{ campaign.name }}{% endblock %}

{% block content %}
{% get_obj_perms user for campaign as "campaign_perms" %}
<div class="container">
	<div class="row">
		<div class="span4">
			<div class="sideCol campaign">
			<h1>{{ campaign }}</h1>
			<h2>{{ campaign.mikro_acts.count }} MikroActs</h2>
			<ul>
				{% for mikroact in campaign.mikro_acts.all %}
				<li><a href="{{ mikroact.get_absolute_url }}">{{ mikroact }}</a></li>
				{% endfor %}
			</ul>
			<h2>{{ campaign.follow_campaign.count }} Followers</h2>
			<a class="btn btn-inverse" 
				{% if not user|is_following:campaign %}
				href="{% url 'campaign_follow' slug=campaign.slug %}">
				Follow
				{% else %}
				href="{% url 'campaign_unfollow' slug=campaign.slug %}">
				Unfollow
				{% endif %}
			</a>
			<ul>
				{% for follow in campaign.follow_campaign.all %}
				<li>{{ follow.user }}</li>
				{% endfor %}
			</ul>
			<ul class="userAction">
				{% if "change_campaign" in campaign_perms %}
				<li><a href="{% url "campaign_edit" slug=campaign.slug %}">Edit</a></li>
				{% endif %}	
			</ul>
				
				
			</ul>
			</div>
		</div>
		<div class="span8"></div>
	</div>
</div>
{% endblock content %}
