{% extends "base.html" %}

{% block title %}{{ block.super }}: Campaigns{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="span4">
			<div class="sideCol">
				
			</div>
		</div>
		<div class="span8">
			<div class="mainCol campaigns">
				<div class="actions">
					<ul>
						<li><a href="{% url "campaign_add" %}"><i class="icon-sitemap icon-large"></i> Create Campaign</a></li>
					</ul>
				</div>
			</div>
			
			<ul>
				{% for campaign in campaign_list %}
				<li><a href="{{ campaign.get_absolute_url }}">{{ campaign }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock content %}
