{% extends "base.html" %}

{% block title %}{{ block.super }}: {{ collection.name }}{% endblock %}

{% block content %}
<h1>{{ collection }}</h1>
<h2>{{ collection.mikro_acts.count }} MikroActs</h2>
<ul>
	{% for mikroact in collection.mikro_acts.all %}
	<li><a href="{{ mikroact.get_absolute_url }}">{{ mikroact }}</a></li>
	{% endfor %}
</ul>
<h2>{{ collection.follow_collection.count }} Followers</h2>
<ul>
	{% for follow in collection.follow_collection.all %}
	<li>{{ follow.user }}</li>
	{% endfor %}
</ul>
<ul class="actions">
	<li><a href="{% url "collection_edit" slug=collection.slug %}">Edit</a></li>
</ul>
{% endblock content %}
