{% extends "base.html" %}

{% block title %}{{ block.super }}: Lists{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="span3">
			<div class="sideBar">
				
			</div>
		</div>
		<div class="span9">
			<div class="actions">
				<a href="{% url "list_add" %}"><i class="icon-sitemap icon-large"></i> Create List</a>
			</div>
			<ul>
				{% for list in list_list %}
				<li><a href="{{ list.get_absolute_url }}">{{ list }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock content %}
