{% extends "base.html" %}

{% block title %}{{ block.super }}: Mikroacts{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="span3">
			<div class="sideBar">
				
			</div>
		</div>
		<div class="span9">
			
			<div class="actions">
				<a href="{% url "mikroact_add" %}">Create MikroAct</a>
			</div>
			<ul>
			{% for mikroact in mikroact_list %}
				<li><a href="{{ mikroact.get_absolute_url }}">{{ mikroact }}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock content %}
