{% extends "base.html" %}
{% load guardian_tags %}
{% load comments %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}: {{ mikroact.title }}{% endblock %}

{% block extra_head %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" />
	<script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>
{% endblock %}

{% block content %}
{% get_obj_perms user for mikroact as "mikroact_perms" %}

<div class="container">
	<div class="row">
		<div class="span8">
			<div class="mainCol act">
				<div class="actions">
					<ul class="nav nav-tabs" id="actTabs">
					  <li class="active"><a href="#stream">Stream</a></li>
					  <li><a href="#instruction">Instructions</a></li>
					</ul>
					{% if "change_mikroact" in mikroact_perms %}
					<div class="dropdown userAction pull-right">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog icon-large"></i></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					    	<li><a href="{% url "mikroact_edit" slug=mikroact.slug %}"><i class="icon-edit"></i>Edit MikroAct</a></li>
					    	{% if "delete_mikroact" in mikroact_perms %}
					    	<li><a href="{% url "mikroact_delete" slug=mikroact.slug %}"><i class="icon-remove"></i>Delete MikroAct</a></li>
					    	{% endif %}
					    </ul>
					</div>
					{% endif %}
				</div>
			</div>
			<div class="mainCol comment">
				<div class="tab-content">
					<div class="tab-pane active" id="stream">
						{% render_comment_list for mikroact %}
						{% if user.is_authenticated %}
						{% render_comment_form for mikroact %}
						{% else %}
						<a class="userLogin" href="{% url 'user_login' %}">Log in</a> to leave a comment
						{% endif %}
					</div>
					<div class="tab-pane" id="instruction">
						{{ mikroact.description }}
					</div>
				</div>
			</div>
		</div>
		
		<div class="span4 mikroactCol">
			<div class="sideCol actPhoto">
					{% if mikroact.photo %}
					<img src="{{ mikroact.photo.url }}" title="{{ mikroact.title }}"/>
					{% else %}
					<div class="photoEmpty">{% if "change_mikroact" in mikroact_perms %}<a href="{% url "mikroact_edit" slug=mikroact.slug %}"><i class="icon-plus icon-3x"></i></a>{% endif %}</div>
					{% endif %}
			</div>
			<div class="sideCol act">
				
				<h1>{{ mikroact.title }}</h1>
				<p class="location">{{ mikroact.location_address }}</p>
				<p class="desc">{{ mikroact.description }}</p>
				<p class="status">Campaigns:</p>
				<ul>
					{% for campaign in mikroact.campaigns.all %}
					<li><a href="{{ campaign.get_absolute_url }}">{{ campaign.name }}</a></li>
					{% endfor %}
				</ul>
				<form action="{% url 'mikroact_campaign_add' slug=mikroact.slug %}" method="POST">
					{% csrf_token %}
					{{ campaign_form|crispy }}
					<button type="submit" class="btn btn-submit">Add</button>
			</div>
			
			<a href="{% url 'user_detail' username=mikroact.author %}"><div class="sideCol author">
				{% if mikroact.author.userprofile.photo %}<img src="{{ mikroact.author.userprofile.photo.url }}" width="75" />{% else %}<div class="noPhoto"><i class="icon-user icon-large"></i></div>{% endif %}
				<h4>{{ mikroact.author }}</h4>
				<p>{{ mikroact.author.userprofile.twitter }}</p>
			</div></a>
		</div>
		
	</div>
</div>
{% endblock content %}
