{% extends "base.html" %}

{% block title %}{{ block.super }}: Collectives {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="span12">
			<div class="mainCol collectiveAll">
				<div class="actions">
					<ul>
						<li><a href="{% url "collective_add" %}"><i class="icon-group icon-large"></i> Create Collective</a></li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="tiles">
		{% for collective in collective_list %}
			<li class="span3">
				<div class="collectiveTile">
					<div class="tilePhoto">{% if collective.photo %}<img src="{{ collective.photo.url }}" height="160"/>{% endif %}</div>
					<a href="{{ collective.get_absolute_url }}">{{ collective.name }}</a>
				</div>
			</li>
		{% endfor %}
		</ul>
			
			
	</div>
</div>
{% endblock content %}
