{% extends "base.html" %}
{% load comments %}
{% block title %}{{ block.super }}: {{ collective.name }}{% endblock %}
{% block extra_head %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" />
	<script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="span4">
			<div class="sideCol collective">
				<div class="collectiveTitle">
					{% if collective.photo %}
							<img src="{{ collective.photo }}">
						{% else %}
							<img src="http://placecage.com/75/75">
						{% endif %}	
					<div class="collectiveInfo">
						
						<h2>{{ collective.name }}</h2>
						<ul>
							<li><i class="icon-envelope"></i>Email</li>
							<li><i class="icon-facebook"></i></li>
							<li><i class="icon-twitter"></i></li>
							<li><i class="icon-linkedin-sign"></i></li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
				<h4>Location</h4>
				<p>{{ collective.location_address }}</p>
				<h4>About</h4>
				<p>{{ collective.description }}</p>
			
			</div>
			<div class="sideCol members">
				<ul>
					{% for member in collective.members.all %}
					<li>{{ member }}</li>
					{% endfor %}
				</ul>
			
			</div>
		</div>
		<div class="span8">
			<div class="mainCol act">
				{% if user.is_authenticated %}
						<div class="actions">
							<ul>
								{% if "change_collective" in collective_perms %}
								<li><a href="{% url "mikroact_edit" slug=mikroact.slug %}">Edit</a></li>
								{% endif %}
								{% if "delete_collective" in collective_perms %}
								<li><a href="{% url "mikroact_delete" slug=mikroact.slug %}">Delete</a></li>
								{% endif %}
							</ul>
						</div>
						{% else %}
						
				{% endif %}
			</div>
			<div class="mainCol comment">
				<div class="tab-content">
				  <div class="tab-pane active" id="stream">
					  	{% render_comment_list for collective %}
						{% if user.is_authenticated %}
						{% render_comment_form for collective %}
						{% else %}
						<a class="userLogin" href="{% url 'user_login' %}">Log in</a> to leave a comment
						{% endif %}
				  </div>
				  <div class="tab-pane" id="instruction">
					  {{ mikroact.description }}
				  </div>
				</div>
				
			</div>
		</div>
	</div>
</div>
{% endblock content %}
