{% extends "base.html" %}

{% block title %}{{ block.super }}: Collective{% endblock %}

{% block extra_head %}
	<script src="{{ STATIC_URL }}js/jquery.slugify.js"></script>
	<script type="text/javascript">
		{# FIXME move to "form.js" or a generic form template #}
		$(document).ready(function() {
				createSlugs();
		});
	</script>
	{{ form.media }}
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="span8 offset2">
			<form class="createForm" enctype="multipart/form-data" action="." method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Save</button>
			</form>
		</div>
	</div>
</div>
{% endblock content %}
