{% extends "base.html" %}
{% load follow_tags %}
{% load i18n %}

{% block title %}{{ block.super }}: {% trans "Collectives" %}{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="span12">
			<div class="mainCol collectiveAll">
				<div class="actions">
					<ul>
						<li><a href="{% url "collective_add" %}">
							<i class="icon-plus"></i>
							{% trans "Create collective" %}
						</a></li>
						<li class="pull-right">
							<a href="#collectiveHelp" data-toggle="modal"><i class="icon-question-sign icon-large"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<ul class="tiles">
		{% for collective in collective_list %}
			<li class="span3">
				<div class="collectiveTile">
					<div class="tilePhoto">
						{% if collective.members %}
						<ul class="mosaic">
							{% for member in collective.members.all|slice:":4" %}
							<li class="mosaicItem">
								{% if member.userprofile.photo %}<img src="{{ member.userprofile.photo.url }}" />{% endif %}
							</li>
							{% endfor %}
						</ul>
						{% endif %}
					</div>
					<div class="tileTitle">{{ collective.name }}<span class="count">{{ collective.members.count }} {% trans "members" %}</span></div>
					<div class="tileActions">
						<div class="tileDescription">
						<p>{{ collective.description|truncatewords:30 }}</p>
						<p>
							<a href="{{ collective.get_absolute_url }}">{% trans "Visit collective" %}</a>
						</p>
					</div>
					<ul class="itemAction">
						<li><i class="icon-plus"></i></li>
						<li>
							<a data-toggle="tooltip" data-placement="top" 
								{% if not user|is_following:collective %} href="{% url 'collective_follow' slug=collective.slug %}" 
								title="{% trans "Follow" %}">
							<i class="icon-share-alt"></i>
							{% else %}
								href="{% url 'collective_unfollow' slug=collective.slug %}" title="{% trans "Unfollow" %}">
							<i class="icon-remove"></i>
							{% endif %}
							</a>
						</li>
					</ul>
				</div>
			</li>
		{% endfor %}
		</ul>	
	</div>
</div>
<div id="collectiveHelp" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h1>{% trans "What's a Collective?" %}</h1>
    </div>
    <div class="modal-body">
    	<p>
		{% trans "Collective is a group of people who work together on specific themes or in defined areas to collectively take action and transform urban spaces." %}
    	</p>
	</div>
	<div class="modal-footer">
		
	</div>
</div>
{% endblock content %}
