{% extends "base.html" %}

{% block title %}{{ block.super }}: {{ collective.name }}{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="span3 sideBar">
			<ul>
				<li><h3>{{ collective.name }}</h3></li>
				<li><i class="icon-envelope"></i> email</li>
				<li class="nav-header">Location</li>
				<li>{{ collective.location_address }}</li>
				<li class="nav-header">About</li>
				<li>{{ collective.description }}</li>
			</ul>
		</div>
	</div>
</div>
{% endblock content %}
