{% extends "base.html" %}
{% load guardian_tags %}
{% load follow_tags %}
{% load stream_tags %}
{% load comments %}
{% load i18n %}

{% block title %}{{ block.super }}: {{ collective.name }}{% endblock %}

{% block extra_head %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" />
	<script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>
{% endblock %}

{% block content %}

{% get_obj_perms user for collective as "collective_perms" %}
<div class="container">
	<div class="row-fluid">
		<div class="span3 collectiveCol">
			<div class="sideCol collectivePhoto">
					{% if collective.photo %}
					<img src="{{ collective.photo.url }}" height="220" title="{{ collective.name }}"/>
					{% else %}
					<div class="photoEmpty">{% if "change_collective" in collective_perms %}<a href="{% url "collective_edit" slug=collective.slug %}"><i class="icon-plus icon-3x"></i></a>{% endif %}</div>
					{% endif %}
			</div>
			<div class="sideCol collective">
				<div class="collectiveTitle">	
					<div class="collectiveInfo">
						<h2>{{ collective.name }}</h2>
						<ul>
							{% if collective.email %}<li><a href="mailto:{{ collective.email }}"><i class="icon-envelope"></i>Email</a></li>{% endif %}
							{% if collective.twitter %}<li><a href="http://twitter.com/{{ collective.twitter }}" target="_blank"><i class="icon-twitter"></i></a></li>{% endif %}	
						</ul>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<a class="actionsCollective" 
					{% if not user|is_following:collective %}
					href="{% url 'collective_follow' slug=collective.slug %}">
					<i class="icon-share-alt"></i> {% trans "Follow" %}
					{% else %}
					href="{% url 'collective_unfollow' slug=collective.slug %}">
					<i class="icon-remove"></i> {% trans "Unfollow" %}
					{% endif %}
			</a>
			<div class="sideCol collectiveMembers">
				<div class="accordion" id="collectiveMembers">
					<div class="accordion-group">
				    	<div class="accordion-heading">
					    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#collectiveMembers" href="#adminList">
									{% trans "Collective members" %} <span class="followerCount">{{ collective.members.count }}</span>
						    </a>
						</div>
						<div id="adminList" class="accordion-body collapse in">
							<div class="accordion-inner">
								{% for member in collective.members.all %}
									{% include "inc/userPane.html" with profile=member.userprofile %}
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="accordion-group">
				    	<div class="accordion-heading">
					    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#collectiveMembers" href="#followerlist">
									{% trans "Collective followers" %} <span class="followerCount">{{ collective.follow_collective.count }}</span>
						    </a>
						</div>
						<div id="followerlist" class="accordion-body collapse">
							<div class="accordion-inner">
								{% for follow in collective.follow_collective.all %}
									{% include "inc/userPane.html" with profile=follow.user.userprofile %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div><!-- end accordion -->
			</div>
		</div>
		<div class="span9">
			{% if "change_collective" in collective_perms %}
			<div class="mainCol act">
				<div class="actions">
					
					<div class="dropdown userAction pull-right">
					  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog icon-large"></i></a>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					    <li><a href="{% url "collective_edit" slug=collective.slug %}"><i class="icon-edit"></i>{% trans "Edit collectve" %}</a></li>
					    <li><a href="{% url "collective_promote" slug=collective.slug %}"><i class="icon-edit"></i>{% trans "Add members" %}</a></li>
					  </ul>
					</div>
				</div>
			</div>
			{% endif %}
			<div class="row-fluid">
				<ul class="tiles">
				{% for member in collective.members.all %}
					{% for mikroact in member.userprofile.user.mikroacts.all %}
					<li class="span4">
						<div class="actTile">
							<div class="tilePhoto">{% if mikroact.photo %}<img src="{{ mikroact.photo.url }}" height="160"/>{% endif %}</div>
							
							<div class="tileTitle">{{ mikroact.title }}</div>
							
							<div class="tileActions">
								<div class="tileDescription">
								<p>{{ mikroact.description|truncatewords:30 }}</p>
								<p><a href="{{ mikroact.get_absolute_url }}">{% trans "Visit MikroAct" %}</a></p></div>
								<ul class="itemAction">
									<li><i class="icon-plus"></i></li>
								</ul>
							</div>
						</div>
					</li>
					{% endfor %}
				{% endfor %}
				</ul>
			</div>
			
			<div class="mainCol act">
				<div class="actions">
					<ul class="nav nav-tabs" id="actTabs">
						<li class="active"><a href="#activity">{% trans "Activity" %}</a></li>
						<li><a href="#stream">{% trans "Stream" %}</a></li>
						<li><a href="#description">{% trans "Description" %}</a></li>
					</ul>
				</div>
			</div>
			<div class="mainCol comment">
				<div class="tab-content">
					<div class="tab-pane active" id="activity">
						<div class="activityCollective">
							<ul>
								{% for action in object_stream|slice:":30" %}
								<li>{% render_action action %}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				  <div class="tab-pane" id="stream">
					  	{% render_comment_list for collective %}
						{% if user.is_authenticated %}
						{% render_comment_form for collective %}
						{% else %}
						<a class="userLogin" href="{% url 'user_login' %}">{% trans "Log in" %}</a>
						{% trans "to leave a comment" %}
						{% endif %}
				  </div>
				  <div class="tab-pane" id="description">
						<h4>{% trans "Location" %}</h4>
					  	<p>{{ collective.location_address }}</p>
							<h4>{% trans "About" %}</h4>
					  	<p>{{ collective.description }}</p>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
