{% extends "base.html" %}

{% block title %}{{ block.super }}: Collectives {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="span3">
			<div class="sideBar">
				
			</div>
		</div>
		<div class="span9">
			<div class="actions">
				<a href="{% url "collective_add" %}"><i class="icon-group icon-large"></i> Add Collective</a>
			</div>
			{% for collective in collective_list %}
			<a href="{{ collective.get_absolute_url }}">{{ collective }}</a>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}
