{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="span6 offset3">
			<div class="loginPanel">
				<p>Please Login to Continue</p>
				{% if form.errors %}
					<div class="alert alert-error">Your username and password didn't match. Please try again.</div>
				{% endif %}

				<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
					{% csrf_token %}
					<p>
						<input name="username" id="id_username" type="text" class="span2" placeholder="Username">
					</p>
					<p>
						<input name="password" type="password" class="span2" placeholder="Password">
					</p>
					<p>
						Don't have an account? <a href="{% url "user_register" %}">Register</a>
					</p>
					<p>
						<a href="{% url "user_password_reset" %}">Forgotten your password?</a>
					</p>
					<button type="submit" class="btn">Login</button>
					<input type="hidden" name="next" value="{{ next }}" />
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
