{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="span6 offset3">
			<div class="loginPanel">
				<p>Пожалуйста, авторизируйтесь для продолжения</p>
				{% if form.errors %}
					<div class="alert alert-error">Ваш пароль и имя пользователя не совпадают. Пожалуйста попытайтесь снова.</div>
				{% endif %}

				<form method="post" autocomplete="off" action="{% url 'django.contrib.auth.views.login' %}">
					{% csrf_token %}
					<p>
						<input name="username" id="id_username" type="text" class="span2" placeholder="Имя пользователя">
					</p>
					<p>
						<input name="password" type="password" class="span2" placeholder="Пароль">
					</p>
					<p>
						Нет учетной записи? <a href="{% url "user_register" %}">Зарегистрируйся!</a>
					</p>
					<p>
						<a href="{% url "user_password_reset" %}">Забыли пароль?</a>
					</p>
					<button type="submit" class="btn">Войти</button>
					<input type="hidden" name="next" value="{{ next }}" />
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
