{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}: {% trans "Registration Complete!" %}{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="span12">
			
			<div class="registerNotice alert fade in">
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				{% trans "Registration complete!" %}
			</div>
			
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<a href="{% url "user_detail" username=user.get_username %}"><div class="callAction">
				<i class="icon-user icon-4x"></i>
				<h2>{% trans "Your profile" %}</h2>
				<p>{% trans "Share your interests with other users in your city and around the world. Get inspired, join a community and take action together." %}</p>
			</div></a>
		</div>
		<div class="span3">
			<a href="{% url 'mikroact_list' %}"><div class="callAction">
				<i class="icon-edit icon-4x"></i>
				<h2>{% trans "MikroActs" %}</h2>
				<p>{% trans "A mikroact is a building block for you to transform your community or city! Propose an idea and work with others to achieve it." %}</p>
			</div></a>
		</div>
		<div class="span3">
			<a href="{% url 'collective_list' %}"><div class="callAction">
				<i class="icon-group icon-4x"></i>
				<h2>{% trans "Collectives" %}</h2>
				<p>{% trans "Collective is a group of people who work together on specific themes or in defined areas to collectively take action and transform urban spaces." %}</p>
			</div></a>
		</div>
		<div class="span3">
			<a href="{% url 'campaign_list' %}"><div class="callAction">
				<i class="icon-sitemap icon-4x"></i>
				<h2>{% trans "Campaigns" %}</h2>
				<p>{% trans "Group a selection of Mikroacts which are inspiring, interesting and share your interests with others." %}</p>
			</div></a>
		</div>
	</div>
	
</div>
{% endblock content %}
