{% extends "base.html" %}
{% load guardian_tags %}

{% block title %}{{ block.super }}: {{ userprofile.user }}{% endblock %}

{% block content %}
{% get_obj_perms user for userprofile as "userprofile_perms" %}

<div class="container">
	<div class="row-fluid">
		<div class="span3">
		
			<div class="sideCol userPhoto">
					{% if userprofile.photo %}
					<img src="{{ userprofile.photo.url }}" title="{{ userprofile.user }}"/>
					{% else %}
					<div class="photoEmpty">{% if "change_userprofile" in userprofile_perms %}<a href="{% url "user_edit" username=userprofile.user.username %}"><i class="icon-plus icon-3x"></i></a>{% endif %}</div>
					{% endif %}
			</div>
			<div class="sideCol act">
				<h1>{{ userprofile.user }}</h1>
				<p><i class="icon-twitter"></i> {{ userprofile.twitter }}</p>
			</div>
		</div>
		<div class="span9">
			{% if "change_userprofile" in userprofile_perms %}
			<div class="mainCol act">
				<div class="actions">
					<div class="dropdown userAction pull-right">
					  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog icon-large"></i></a>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					    <li><a href="{% url "user_edit" username=userprofile.user.username %}"><i class="icon-edit"></i>Edit Profile</a></li>
					    <li><a href="{% url "user_logout" %}"><i class="icon-signout"></i>Logout</a></li>
					  </ul>
					</div>
				</div>
			</div>
			{% endif %}
			<div class="row-fluid">
				<ul class="tiles">
				{% for mikroact in userprofile.user.mikroacts.all %}
					<li class="span4">
						<div class="actTile">
							<div class="tilePhoto">{% if mikroact.photo %}<img src="{{ mikroact.photo.url }}" height="160"/>{% endif %}</div>
							
							<div class="tileTitle">{{ mikroact.title }}</div>
							
							<div class="tileActions">
								<div class="tileDescription">
								<p>{{ mikroact.description|truncatewords:30 }}</p>
								<p><a href="{{ mikroact.get_absolute_url }}">Visit MikroAct</a></p></div>
								<ul class="itemAction">
									<li><i class="icon-plus"></i></li>
									
								</ul>
							</div>
							
						</div>
					</li>
				{% endfor %}
				</ul>
			</div>
			<div class="row-fluid">
				<ul class="tiles">
				{% for collective in userprofile.user.collectives.all %}
					<li class="span4">
						<div class="collectiveTile">
							<div class="tilePhoto">
								{% if collective.members %}
								<ul class="mosaic">
									{% for member in collective.members.all|slice:":4" %}
									<li class="mosaicItem">{% if member.userprofile.photo %}<img src="{{ member.userprofile.photo.url }}" />{% endif %}</li>
									{% endfor %}
								</ul>
								{% endif %}
							</div>
							
							<div class="tileTitle">{{ collective.name }}<span class="count">{{ collective.members.count }} Members</span></div>
							<div class="tileActions">
								<div class="tileDescription">
								<p>{{ collective.description|truncatewords:30 }}</p>
								<p><a href="{{ collective.get_absolute_url }}">Visit Collective</a></p></div>
								<ul class="itemAction">
									<li><i class="icon-plus"></i></li>
								</ul>
							</div>
							
						</div>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
