{% extends "base.html" %}
{% load guardian_tags %}

{% block title %}{{ block.super }}: {{ user }}{% endblock %}

{% block content %}
{% get_obj_perms user for userprofile as "userprofile_perms" %}

<div class="container">
	<div class="row">
		<div class="span8">
			{% if user.is_authenticated %}
						<div class="actions">
							<ul>
								{% if "change_userprofile" in userprofile_perms %}
								<li><a href="{% url "user_edit" username=userprofile.user.username %}">Edit Profile</a></li>
								{% endif %}
							</ul>
						</div>
						{% else %}
				{% endif %}
			<div class="mainCol act">
			</div>
			<div class="mainCol comment">
			</div>
		</div>
		<div class="span4">
			<div class="sideCol act">
				<h1>{{ userprofile.user }}</h1>
				<p>{{ userprofile.twitter }}</p>
			</div>
			<div class="sideCol members">
				<ul>
					{% for mikroact in userprofile.user.mikroacts.all %}
					<li><a href="{{ mikroact.get_absolute_url }}">{{ mikroact.slug }}</a></li>
					{% endfor %}
				</ul>
				<ul>
					{% for collective in userprofile.user.collectives.all %}
					<li><a href="{{ collective.get_absolute_url }}">{{ collective.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="sideCol author">
			</div>
		</div>
		
	</div>
</div>
{% endblock content %}
