{% extends "base.html" %}
{% load guardian_tags %}

{% block title %}{{ block.super }}: {{ mikroact.title }}{% endblock %}

{% block content %}
{% get_obj_perms user for userprofile as "userprofile_perms" %}

<div class="container">
	<div class="row">
		<div class="span8">
			{% if user.is_authenticated %}
						<div class="actions">
							<ul>
								{% if "change_userprofile" in userprofile_perms %}
								<li><a href="{% url "user_edit" username=userprofile.user.username %}">Edit Profile</a></li>
								{% endif %}
								
							</ul>
						</div>
						{% else %}
						
				{% endif %}
			<div class="mainCol act">
				
				
				
				
			</div>
			<div class="mainCol comment">
				
				 
				
			</div>
		</div>
		<div class="span4">
			<div class="sideCol act">
				<h1>{{ user.username }}</h1>
			</div>
			<div class="sideCol members">
				<ul>
					{% for mikroact in user.mikroacts.all %}
					<li>{{ mikroact.slug }}</li>
					{% endfor %}
				</ul>
				<ul>
					{% for collective in user.collectives.all %}
					<li>{{ collective.name }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="sideCol author">
			</div>
		</div>
		
	</div>
</div>
{% endblock content %}
