
.sideCol.act{
	background:#fff;
	padding: 15px;
}

.sideCol.act h1{
	color:#009999;
	margin:0;
	padding: 0;
	font-size:24px;
}
.sideCol.act p.status{
	font-size:12px;
	
}
.sideCol.act p.status span{
	font-size:10px;
	text-transform: uppercase;
	color:#6fcbd7;
}
.sideCol.act p.desc{
	font-size: 12px;
	color:#666;
	line-height: 20px;
}
.mainCol.act{
	background:#fff;
}
.mainCol.comment{
	background:#fff;
	min-height: 200px;
	margin-bottom: 100px;
}



.mainCol .actions ul li{
	list-style: none;
	display: inline;
}
.actions a{
	padding: 10px;
	color:;
	font-size: 12px;
	color:#fff;
}
.actions a:hover{
	
	color:#6fcbd7;
}
.mikroactCol, .collectiveCol{
	margin-bottom: 60px;
}
.sideCol.author{
	background:#fff;
	margin: 15px 0;
	height: 75px;
	overflow:hidden;
}
.sideCol.author img{
	float:left;
	margin-right:10px;
}
.sideCol.author:hover{
	background:#f4f4f4;
}
.sideCol.author .noPhoto{
	float:left;
	width: 75px;
	background:#353535;
	height:75px;
	margin-right:10px;
	line-height:75px;
	text-align:center;
}
.noPhoto i{
	color:#666;
}
.sideCol.collective{
	background:#fff;
	padding: 15px;
}
.sideCol.collective h4{
	font-size: 14px;
	margin:0;
	padding: 0;
	padding-bottom: 5px;
}
.sideCol.collective p{
	line-height:20px;
	font-size:12px;
	color:#666;
}

.collectiveTitle{
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.collectiveInfo{
}
.collectiveInfo h2{
	color:#009999;
	margin:0;
	padding: 0;
	font-size:24px;
}
.collectiveTitle ul{
	margin:0;
}
.collectiveTitle li{
	list-style:none;
	display:inline;
}

/*GALLERY*/


/*ACTIONS */

.mainCol .actions{
	background:#353535;
	line-height:40px;
	height:40px;
}
.actions .userAction{
	float:right;
	padding-right:10px;
}
#actTabs{float:left;}
.actions .nav{
	margin-bottom:0;
	border:none;
}
.actions .nav .active{
	
}
.actions .nav a{
	border:none;
	line-height:40px;
	border-radius:0;
	margin:0;
	padding:0 20px;
	
	transition: all 1s ease-in-out;
	-webkit-transition:all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
}
.actions .nav .active a{
	color:#009999;
	background:#fff;
	
}
.actions .nav .active a:hover{
	border:none;
	background:#fff;
}
.actions .nav a:hover{
	border-radius:0;
	border:none;
	background:#f4f4f4;
}
/*INSTRUCTIONS */
#instruction{
	padding: 15px;
	color:#666;
	line-height: 20px;
	font-size:13px;
}
/*COMMENTS */
#comments{
	padding: 20px;
}
.comment .tab-content{width:100%;}
.comment-item{
	margin-top: 10px;
	
	padding: 10px;
	background:#f4f4f4;
	border: 1px solid #e3e3e3;
	
}
#comments h4{
	margin:0;
	padding: 0;
	font-size:14px;
}
.comment-date{
	font-style:italic;
	color:#999;
	font-size:12px;
}
.comment-text{
	margin-top: 10px;
}
.comment-item h3{
	font-size:16px;
	color:#ccc;
	line-height: 18px;
	margin: 0;
	margin-bottom: 10px;
}
#div_id_comment{
	border-top: 1px solid #ccc;
	
	margin: 15px 0 0;
	background:#f4f4f4;
	padding-bottom: 15px;
	
}
#div_id_comment .control-label{
	width: auto;
	float:none;
	text-align: left;
	padding-left:20px;
	display:block;
	margin-top: 15px;
}
#div_id_comment .controls{
	margin: 0 20px;
}
#div_id_comment .controls textarea{
	width: 98%;
}
#stream form{
	margin:0;
}
#stream .form-actions{
	margin: 0;
	border-top: none;
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
	padding-left: 20px;
}
#stream .userLogin{
	line-height: 48px;
	margin-left:20px;
}

.dropdown-menu{
	border-radius:0px;
	margin-top:-1px;
	color:#e3e3e3;
	background:#353535;
	border: none;
	padding: 0;
	box-shadow:none;
}
.dropdown-menu li a i{
	float:left;
	padding:4px 0;
}
.dropdown-menu li a{
	color:#e3e3e3;
	padding: 5px 10px;
	text-align:right;
	transition: all 1s ease-in-out;
	-webkit-transition:all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
}
.dropdown-menu li a:hover{
	background:#009999;
}
.actPhoto{
	text-align: center;
	background:#353535;
	max-height: 220px;
	overflow:hidden;
}
.collectivePhoto{
	text-align: center;
	background:#353535;
	max-height: 220px;
	overflow:hidden;
}
.userPhoto{
	text-align: center;
	background:#353535;
	max-height: 220px;
	overflow:hidden;
}
.userPhoto img{
	vergical-align:middle;
}
.photoEmpty{
	line-height: 220px;
	
}
.photoEmpty a{
	color:#666;
}
.photoEmpty a:hover{
	color:#999;
	
}
.act p.location{
	font-size: 12px;
	color:#999;
}

.tiles{
	margin:0 0 15px;
	padding:0;
}
.tiles li{
	list-style:none;
	background:#fff;
	margin-top: 10px;
}
.tiles li img{
	
}
.tiles li .tilePhoto{
	max-height: 160px;
	overflow:hidden;
	background:#353535;
}
.collectiveTile a{
	padding: 15px 10px;
	background:#fff;
	display:block;
}
