


body{
	background:#e3e3e3;
}


/**********************/
/***     PANEL      ***/
/**********************/
section.panel{
	background:#353535;
	height: 40px;
}
section.panel .userNav {
	font-size: 12px;
	font-weight: 300;
	color:#fff;
	height:40px;
}
section.panel .userNav ul li{
	display: inline;
	line-height: 40px;
	margin-left: 20px;
	list-style: none;
}
section.panel .userNav a{
	color:#fff;
}
section.panel .userNav a:hover{
	color:#6fcbd7!important;
}

section.panel .userNav div{
	float: left;
	line-height: 40px;
	padding-left: 5px;
	height: 100%;
}
section.panel .loginLink{
	margin-left: 10px;
}
section.panel .userNav a.loginLink:hover{
	color:#6fcbd7;
	cursor: pointer;
}

.login{
	display:none;
}
.login .loginWrap{
	width: 275px;
}
section.panel input{
	width: 100px;
	font-size: 10px;
	margin-left: 3px;
}
section.panel .login a{
	margin-left: 10px;
}
section.panel .registerLink{
	margin-left: 10px;
}
.relative {
	position: relative;
}
section.panel a.active{
	color:#6fcbd7;
}
section.panel .loginLink.open {
	color:#6fcbd7;
}
#loginModal.modal{
	width: 450px;
	margin-left: -225px;
	background: #388787; /* Old browsers */
	background: -moz-linear-gradient(top, #388787 0%, #0f6666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#388787), color-stop(100%,#0f6666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #388787 0%,#0f6666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #388787 0%,#0f6666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #388787 0%,#0f6666 100%); /* IE10+ */
	background: linear-gradient(to bottom, #388787 0%,#0f6666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#388787', endColorstr='#0f6666',GradientType=0 ); /* IE6-9 */
}
.modal-header{
	text-align: center;
	border: none;
}
#loginModal{
	text-align: center;
}

#loginModal form{
	margin-bottom: 0;
}
#loginModal input{
	width: 200px;
	background:#fff;
}
#loginModal i{
	color:#fff;
	margin-right: 3px;
}
#loginModal .modal-footer{
	font-size: 10px;
	color:#999;
}
#loginModal .submitBottom{
	margin-top: 20px;
}

.loginPanel{
	background:#fff;
	padding: 20px;
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-ms-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	text-align: center;
}
.loginPanel .alert{
	font-size: 12px;
	text-align: center;
}
.loginPanel form{
	margin-top: 20px;
}
.loginPanel input{
	width: 200px;
	background:#fff;
}
/**********************/
/***    HEADER      ***/
/**********************/

section.header{
	background:#fff;
	/*
-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-ms-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
box-shadow: 0 2px 8px rgba(0,0,0,0.15);
*/
	height: auto;
	margin-bottom: 10px;
	padding-bottom:10px;
	z-index: 1000;
}
section.header .mainNav{
	font-size: 12px;
	text-align: right;
	font-weight: 600;
	margin-right: 20px!important;
	margin-top: 25px;
}
section.header .navbar-search{
	margin-top: 30px!important;
}
section.header .btn-navbar{
	margin-top: 25px!important;
}
section.header ul li{
	list-style: none;
}
section.header .mainNav ul{
	margin-left: 0;
	margin-bottom: 0;
}
section.header .mainNav ul li{
	list-style:none;
	padding-right: 30px;
	display: inline-block;
}
section.header .mainNav ul li:first-child{
	list-style:none;
	padding-left: 0;
	display: inline-block;
}
section.header .mainNav li a{
	vertical-align:middle;
	color:#009999!important;
}
section.header .mainNav li a:hover{
	vertical-align:middle;
	color:#2f337b!important;
}
section.header .navbar-search{
	margin-top: 0;
}
section.header input.headerSearch {
	font-size: 10px;
	height: 18px;
	line-height: 18px;
	border: 3px solid #919191;
}
section.header .logo h1{
	line-height: 90px;
	margin: 0;
}

/**********************/
/***     MAIN       ***/
/**********************/

section.greeting{
}
section.greeting .alert{
	background:#fff;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-ms-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
section.mapslide {
	margin: 10px 0;
}
section.mapslide .map{
	height: 410px;
	overflow:hidden;
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-ms-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	background:#353535;
}


section.mapslide .panelTitle{
	height: 50px;
	padding-left: 15px;
	
}

section.mapslide .panelTitle h2{
	color:#009999;
	font-size: 14px;
	margin: 0;
	font-weight: 600;
	
}
section.mapslide .panelTitle li{
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}
section.mapslide .panelTitle:hover{
	cursor:pointer;
}


section.mapslide .mapContainer{
	position: absolute;
	z-index: 100;
	overflow:hidden;
}
section.mapslide .eventsContainer{
	position: relative;
	z-index: 1000;
	background:#fff;
	height:410px;
	border-left: 10px solid #353535;
	margin-left: 70%;
	transition: margin-left 0.7s ease;
	-webkit-transition: margin-left 0.7s ease;
	-moz-transition: margin-left 0.7s ease;
	-o-transition: margin-left 0.7s ease;
	-ms-transition: margin-left 0.7s ease;
	
}
section.mapslide .eventsContainer.open{
	margin-left: 5%;
	transition: margin-left 0.7s ease;
	-webkit-transition: margin-left 0.7s ease;
	-moz-transition: margin-left 0.7s ease;
	-o-transition: margin-left 0.7s ease;
	-ms-transition: margin-left 0.7s ease;
	
	
}
section.mapslide .eventsContainer.closed{
	margin-left: 95%;
	transition: margin-left 0.7s ease;
	-webkit-transition: margin-left 0.7s ease;
	-moz-transition: margin-left 0.7s ease;
	-o-transition: margin-left 0.7s ease;
	-ms-transition: margin-left 0.7s ease;
}

section.mapslide .eventsContent, section.mapslide .mapContent{
	opacity: 1;
   transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}
section.mapslide .mapContent{
	margin-left: 10px;
}




#vertical-ticker ul{
	margin-left: 0!important;
	border-left: 1px solid #ccc;
}

#vertical-ticker li.item {
	height: 100px;
	list-style:none;
	background:#f5f5f5;
	margin-right: 10px;
	overflow:hidden;
	padding: 5px 8px;
	margin-bottom: 9px;
}

#vertical-ticker {
	height: 350px;
}

#vertical-ticker li.item p.title{
	font-size: 14px;
	margin-bottom: 0;
	text-transform: uppercase;
}
#vertical-ticker li.item p{
	font-size: 12px;
	color:#515251;
}
#vertical-ticker li.item p.title a{
	color:#2f337b;
}
#vertical-ticker li.item p span.date{
	font-weight: 700;
}




.exploreBar{
	background:#fff;
	height: 50px;
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-ms-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
section.explore .panelTitle h2{
	color:#009999;
	font-size: 14px;
	margin: 0;
	float:left;
	font-weight: 600;
	margin-left: 15px;
	line-height: 50px;
}

.tilesBottom{
	background:#fff;
	height: 50px;
	bottom: 50px;
	position: relative;
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-ms-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
ul#filter {
	margin-right:10px;
}
#filter li{
	list-style:none;
	display: inline;
	line-height: 50px;
	font-size:12px;
}
#filter li a{
	padding: 5px 15px;
}
#filter li a.selected{
	background:#f5f5f5;
}




.createForm{
	background:#fff;
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-ms-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	padding: 20px;
	margin-bottom: 60px;
}
/**********************/
/***     SIDEBAR    ***/
/**********************/

.sideBar{
	background:#fff;
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-ms-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	height: 500px;
}


/**********************/
/***     FOOTER     ***/
/**********************/
section.footer{
	bottom: 0;
	width: 100%;
	position: fixed;
	z-index:1005;
	min-height: 50px;
	line-height: 40px;
	background:#353535;
	font-size: 12px;
	color:#999;
	
}
section.footer ul li{
	list-style: none;
	display: inline;
	padding-right: 20px;
}




.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  z-index:1002;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: normal 12px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #009999;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009999), to(#0f6666)); 
  background-image: -webkit-linear-gradient(top, #009999, #0f6666); 
  background-image:    -moz-linear-gradient(top, #009999, #0f6666); 
  background-image:     -ms-linear-gradient(top, #009999, #0f6666); 
  background-image:      -o-linear-gradient(top, #009999, #0f6666); 
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.2);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.2);
}
.ribbon-orange {
  font: normal 12px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #ed7a2f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ed7a2f), to(#d96418)); 
  background-image: -webkit-linear-gradient(top, #ed7a2f, #d96418); 
  background-image:    -moz-linear-gradient(top, #ed7a2f, #d96418); 
  background-image:     -ms-linear-gradient(top, #ed7a2f, #d96418); 
  background-image:      -o-linear-gradient(top, #ed7a2f, #d96418); 
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.2);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.2);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #009999;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}



form .errorlist{
	margin:0;
}
form .errorlist li{
	color:#b93939;
	font-size:11px;
	list-style:none;
}


