/* MAIN STYLES FOR MIKROACT */


body{
	background:#e3e3e3;
}


h1.welcome{
	font-weight:normal;
	font-size: 32px;
	color:#fff;
}
.fullCol.message{
	padding: 15px 0 30px;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 10px;
	color:#f4f4f4;
	background:#009999;
}
.fullCol.message strong{
	line-height:32px;
	font-size: 14px;
	color:#fff;
}

.registerNotice{
	background:#009999;
	color:#f4f4f4;
	font-size:18px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	line-height:46px;
}
.registerNotice a.close{
	margin-top:15px;
}
.callAction{
	text-align:center;
	background:#fff;
	margin-top: 15px;
	padding: 15px;
}
.callAction h2{
	font-size:18px;
	font-weight:normal;
	color:#009999;
}
.callAction p{
	font-size:13px;
	line-height:20px;
	color:#999;
}
.callAction i{
	color:#ccc;
}




.tiles{
	margin-bottom: 15px;
}
/********        **********************/
/******** PANEL  **********************/
/********        **********************/

section.panel{
	background:#353535;
	height: 40px;
}
section.panel .userNav {
	font-size: 12px;
	font-weight: 300;
	color:#fff;
	height:40px;
	position:relative;
	z-index:5;
}
section.panel .userNav ul li{
	display: inline;
	line-height: 40px;
	margin-left: 20px;
	list-style: none;
}
section.panel .userNav ul li.dropdown a img{
	margin-top: -2px;
	border: 2px solid #202020;
	height:32px;
	overflow:hidden;
}
section.panel .userNav ul li.dropdown a:hover img{
	margin-top: -2px;
	border: 2px solid #009999;
	transition: all .1s ease-in-out;
	-webkit-transition:all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	
}
section.panel .userNav ul ul.dropdown-menu{
	border-radius:0px;
	margin-top:12px;
	color:#e3e3e3;
	background:#353535;
	border: none;
	padding: 0;
	box-shadow:none;
}
section.panel .userNav ul ul.dropdown-menu li{
	display:block;
	margin-left:0;
}
section.panel .userNav ul ul.dropdown-menu li a i{
	float:left;
	padding:4px 0;
}
section.panel .userNav ul ul.dropdown-menu li a{
	color:#e3e3e3;
	padding: 5px 10px;
	text-align:right;
	transition: all .1s ease-in-out;
	-webkit-transition:all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
}
section.panel .userNav li.dropdown li a:hover{
	background:#009999;
}

section.panel .userNav a{
	color:#fff;
	outline: 0;
	transition: all .1s ease-in-out;
	-webkit-transition:all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
}
section.panel .userNav a:hover{
	color:#6fcbd7!important;
}

section.panel .userNav div{
	float: left;
	line-height: 40px;
	padding-left: 5px;
	height: 100%;
}
section.panel .loginLink{
	margin-left: 10px;
}
section.panel .userNav a.loginLink:hover{
	color:#6fcbd7;
	cursor: pointer;
}

.login{
	display:none;
}
.login .loginWrap{
	width: 275px;
}
section.panel input{
	width: 100px;
	font-size: 10px;
	margin-left: 3px;
}
section.panel .login a{
	margin-left: 10px;
}
section.panel .registerLink{
	margin-left: 10px;
}
.relative {
	position: relative;
}
section.panel a.active{
	color:#6fcbd7;
}
section.panel .loginLink.open {
	color:#6fcbd7;
}
#loginModal.modal{
	width: 450px;
	margin-left: -225px;
	background: #009999; /* Old browsers */
	
}
.modal-header{
	text-align: center;
	border: none;
}
#loginModal{
	text-align: center;
}

#loginModal form{
	margin-bottom: 0;
}
#loginModal input{
	width: 200px;
	background:#fff;
}
#loginModal i{
	color:#fff;
	margin-right: 3px;
}
#loginModal .modal-footer{
	font-size: 10px;
	color:#999;
}
#loginModal .submitBottom{
	margin-top: 20px;
}

.loginPanel{
	background:#fff;
	padding: 20px;
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-ms-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	text-align: center;
}
.loginPanel .alert{
	font-size: 12px;
	text-align: center;
}
.loginPanel form{
	margin-top: 20px;
}
.loginPanel input{
	width: 200px;
	background:#fff;
}

/********          **********************/
/******** ACTIVITY **********************/
/********          **********************/

.activityPane{
	height:100%;
	position:fixed;
	width: 325px;
	top:0;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	z-index:1;
}
.activityPane.closed{
	right:-325px;
	
}
.activityPane.open{
	right:0;
}
.activityPane.closed .activityToggle{
	right:-1px;
	background:#fff;
	
}
.activityPane.open .activityToggle{
	right:325px;
	background:#fff;
}

.activityWrapper{
	width:100%;
	top:130px;
	position:absolute;
	overflow-y:scroll;
	background:#f4f4f4;
	height:100%;
	border-top:1px solid #ccc;
}

.activityWrapper h1{
	font-size: 18px;
	color:#ccc;
	font-weight:normal;
	padding-left:15px;
}
.activityWrapper ul{
	margin:15px 0;
	font-size:11px;
	
}
.activityWrapper ul li {
	list-style:none;
	background:#f4f4f4;
	
}
.activityWrapper ul li a{
	border-top: 1px solid #e3e3e3;
	line-height: 24px;
	padding: 10px 15px;
	display:block;
}
.activityWrapper i{
	color:#009999;
}
.activityWrapper li a:hover{
	background:#fff;
}
.activityWrapper li:nth-child(n+10) a{
	/* background:#f4f4f4; */
}
.activityWrapper .activityDate{

	padding-right:10px;
	position:absolute;
	right:0;
	color:#ccc;
	font-size:10px;
}
.activityWrapper .activityTarget{
	color:#009999;
}
.activityToggle{
	height:100%;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	position:fixed;
	width: 40px;
	top:130px;
	background:#fff;
	text-align:center;
	z-index:2;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.activityToggle:hover{
	background:#f4f4f4;
}

.activityToggle .trigger{
	top: 30%;
	width:40px;
	position:absolute;
	
}
.activityToggle .trigger i{
	color:#009999;
}

/********        **********************/
/******** HEADER **********************/
/********        **********************/

section.header{
	background:#fff;
	height: auto;
	margin-bottom: 10px;
	padding-bottom:10px;
}

section.header .navbar-search{
	margin-top: 30px!important;
}
section.header .btn-navbar{
	margin-top: 25px!important;
}
section.header ul li{
	list-style: none;
}

section.header .navbar-search{
	margin-top: 0;
}
section.header input.headerSearch {
	font-size: 10px;
	height: 18px;
	line-height: 18px;
	border: 3px solid #919191;
}
section.header .logo h1{
	line-height: 90px;
	margin: 0;
}

/******** mainNav ***********/
	section.header .mainNav{
		font-size: 12px;
		text-align: right;
		font-weight: 600;
		margin-right: 20px!important;
		margin-top: 25px;
	}
	
	section.header .mainNav ul{
		margin-left: 0;
		margin-bottom: 0;
	}
	section.header .mainNav ul li{
		list-style:none;
		padding-right: 30px;
		display: inline-block;
	}
	section.header .mainNav ul li:first-child{
		list-style:none;
		padding-left: 0;
		display: inline-block;
	}
	section.header .mainNav li a{
		vertical-align:middle;
		color:#009999!important;
		-webkit-transition: all .1s ease-in-out;
		-moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
		transition: all .1s ease-in-out;
	}
	section.header .mainNav li a:hover{
		vertical-align:middle;
		color:#2f337b!important;
	}
	
	section.header .mainNav ul li li{
		display:block;
	}

/********          **********************/
/******** INDEX    **********************/
/********          **********************/

/******** sidecol ***********/
.row-fluid{
	margin-bottom:10px;
}
.rowHeader{
	background:#fff;
	height:40px;
}
.rowHeader h2{
	font-size: 14px;
	font-weight: normal;
	color:#009999;
	margin:0;
	padding: 0 15px;
}


.dashTiles .tiles li:nth-child(2n+1){
	margin-left:0;
}


.indexTiles li{
	margin-bottom: 15px;
}
.indexTiles li:nth-child(2n+1){
	margin-left:0px;
}
/********          **********************/
/******** MIKROACT **********************/
/********          **********************/

/******** list ***********/
.actTile{
	position:relative;
	min-height:180px;
	margin-top: 10px;
	background:#353535;
}
.actTile .tilePhoto{
	height:160px;
	background:#000;
}
.actTile .tileActions{
	position:absolute;
	top:0;
	background:rgba(35,35,35,.8);
	z-index:10;
	width:100%;
	opacity:0;
	height:100%;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
.actTile .tileActions a{
	color:#6fcbd7;
}
.actTile .tileActions .tileDescription{
	font-size:11px;
	padding: 10px;
	color:#e3e3e3;
	
}
.actTile .tileActions .tileDescription a{
	font-size: 18px;
}
.actTile .tileActions form{
	margin:0;
}
.actTile:hover .tileActions{
	opacity:1;
}
.itemAction{
	margin:0;
	right:0;
	margin-right:10px;
	bottom: 0;
	position:absolute;
	height:30px;
}
.itemAction li{
	list-style:none;
	line-height:30px;
	display:inline;
}



/******** detail ***********/

.mainCol.feature{
	height:350px;
	overflow:hidden;
	background:#ccc;
}
.mainCol.feature img{
	opacity: 0;
	
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
.featureEmpty{
	line-height: 350px;
	text-align:center;
	background:#ccc;
}
.featureEmpty a{
	color:#666;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.featureEmpty a:hover{
	color:#999;
	
}

.sideCol.campaignList{
	background:#fff;
	padding: 15px 0 0;
}
.sideCol.campaignList p{
	padding: 0 15px;
	font-size:12px;
	color:#999;
}
.sideCol.campaignList .accordion-toggle{
	color:#009999;
}
.sideCol.campaignList .accordion-toggle:hover{
	color:#009999;
}
.sideCol.campaignList ul{
	margin:0;
}
.sideCol.campaignList ul li{
	list-style:none;
}
.sideCol.campaignList ul li a{
	border-top:1px solid #ccc;
	display:block;
	padding: 10px 15px;
	line-height:24px;
	background:#f4f4f4;
	font-size:12px;
	color:#666;
}
.sideCol.campaignList ul li a i{
	color:#009999;
}
.sideCol.campaignList ul li a:hover{
	background:#fff;
}
.sideCol.campaignList ul li:last-child{
	border-bottom: 1px solid #ccc;
}
.campaignList .accordion-group{
	border:none;
}
.campaignList .accordion-inner{
	padding:0;
	border:none;
}
.accordion-group.dark{
	background:#353535;
	border-radius:0;
	border:none;
	
}
.accordion-group.dark .accordion-toggle{
	color:#fff;
	font-size:12px;
}
.accordion-group.dark .accordion-toggle.active{
	color:#6fcbd7;
	font-size:12px;
}
.accordion-group.dark .accordion-toggle:hover{
	color:#6fcbd7;
}

.accordion-group.dark .accordion-inner label{
	color:#f4f4f4;
	font-size:12px;
	padding-left: 15px;
}

.accordion-group.dark .accordion-inner select{
	margin-left:15px;
	float:left;
	height:35px;
	margin-bottom: 20px;
}
.accordion-group.dark .accordion-inner button{
	margin-left:10px;
	height:35px;
	float:left;
	margin-top:-5px;
}
/********            **********************/
/******** COLLECTIVE **********************/
/********            **********************/
#collectiveMembers{
	background:#fff;
}
#collectiveMembers .accordion-group{
	border:none;
	margin:0;
	border-radius:0;
}
#collectiveMembers .accordion-toggle{
	color:#009999;
	line-height:24px;
	padding: 10px;
}
#collectiveMembers .accordion-inner{
	padding:0;
	
}
.actionsCollective{
	display:block;
	background:#353535;
	padding: 10px;
	font-weight:normal;
	color:#fff;
	font-size:12px;
}
.actionsCollective:hover{
	color:#6fcbd7;
}

.followerCount{
	float:right;
	color:#999;
	font-size:12px;
}
.collectiveTile{
	background:#fff;
	position:relative;
	margin-top: 10px;
}
.collectiveTile .tilePhoto{
	height:160px;
	
}
.collectiveTile .tileActions{
	position:absolute;
	top:0;
	background:rgba(255,255,255,.9);
	z-index:10;
	width:100%;
	opacity:0;
	height:100%;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
.collectiveTile .tileActions a{
	color:#009999;
}
.collectiveTile .tileActions .tileDescription{
	font-size:11px;
	padding: 10px;
	color:#666;
	
}
.collectiveTile .tileActions .tileDescription a{
	font-size: 18px;
}
.collectiveTile .tileActions form{
	margin:0;
}
.collectiveTile:hover .tileActions{
	opacity:1;
}
.collectiveTile .tileTitle{
	background:#fff;
	font-size:12px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 5px 10px;
	font-weight:normal;
	color:#666;
}
.collectiveTile .tileTitle .count{
	float:right;
	font-size:10px;
	color:#999;
}
.collectiveTile .mosaic{
	margin:0;
	padding:0;
	overflow:hidden;
	min-height:160px;
	background:#fff url(../img/tileDarkBG.jpg);
}
.activityCollective {
	position:relative;
	width:100%;
}
.activityCollective ul{
	margin:0;
	font-size:12px;
	
}
.activityCollective ul li {
	list-style:none;
	background:#fff;
	
}
.activityCollective ul li a{
	border-bottom: 1px solid #e3e3e3;
	line-height: 24px;
	padding: 10px 15px;
	display:block;
}
.activityCollective i{
	color:#009999;
}
.activityCollective li a:hover{
	background:#f4f4f4;
}
.activityCollective li:nth-child(n+10) a{
	/* background:#f4f4f4; */
}
.activityCollective .activityDate{

	padding-right:10px;
	position:absolute;
	right:0;
	color:#ccc;
	font-size:10px;
}
.activityCollective .activityTarget{
	color:#009999;
}

/********          **********************/
/******** CAMPAIGN **********************/
/********          **********************/
#campaignFollowers{
	background:#fff;
}
#campaignFollowers .accordion-group{
	border:none;
	margin:0;
	border-radius:0;
}
#campaignFollowers .accordion-toggle{
	color:#009999;
	line-height:24px;
	padding: 10px;
}
#campaignFollowers .accordion-inner{
	padding:0;
	
}
.actionsCampaign{
	display:block;
	background:#353535;
	padding: 10px;
	font-weight:normal;
	color:#fff;
	font-size:12px;
}
.actionsCampaign:hover{
	color:#6fcbd7;
}


.campaignTile{
	background:#fff;
	position:relative;
	margin-top: 10px;
}
.campaignTile .tilePhoto{
	height:160px;
	
}
.campaignTile .tileActions{
	position:absolute;
	top:0;
	background:rgba(255,255,255,.9);
	z-index:10;
	width:100%;
	opacity:0;
	height:100%;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
.campaignTile .tileActions a{
	color:#6fcbd7;
}
.campaignTile .tileActions .tileDescription{
	font-size:11px;
	padding: 10px;
	color:#999;
	
}
.campaignTile .tileActions .tileDescription a{
	font-size: 18px;
}
.campaignTile .tileActions form{
	margin:0;
}
.campaignTile:hover .tileActions{
	opacity:1;
}
.campaignTile .tileTitle{
	background:#fff;
	color:#666;
	font-size:12px;
	padding:5px 10px;
	
}
.campaignTile .tileTitle .count{
	float:right;
	font-size:10px;
	color:#666;
}
.campaignTile .mosaic{
	margin:0;
	padding:0;
	overflow:hidden;
	min-height:160px;
	background:#fff url(../img/tileBG.jpg);
}

.campaignCount{
	float:right;
	font-size:12px;
	color:#666;
}
.campTiles li:nth-child(3n+1){
	margin-left:0;
}
.campTiles{
	margin:0 0 15px;
	padding:0;
}
.campTiles li{
	list-style:none;
	
	margin-top: 10px;
}

.campTiles li img{
	
}
.campTiles li .tilePhoto{
	max-height: 160px;
	overflow:hidden;
	
}


.mosaic{
	margin:0;
	padding:0;
	overflow:hidden;
	min-height:160px;
	background:#fff url(../img/tileBG.jpg);
}
li.mosaicItem{
	width:50%;
	float:left;
	margin:0!important;
	height:80px;
	overflow:hidden;
	opacity:1;
	transition: opacity .1s ease-in-out;
   -moz-transition: opacity .1s ease-in-out;
   -webkit-transition: opacity .1s ease-in-out;
}
li.mosaicItem:hover{
	opacity:.95;
}
.tileTitle{
	background:#353535;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 5px 10px;
	font-weight:normal;
	color:#fff;
	font-size:12px;
}

.tileTitle .count{
	float:right;
	font-size:10px;
	color:#f4f4f4;
}



.activityCampaign {
	position:relative;
	width:100%;
}
.activityCampaign ul{
	margin:0;
	font-size:12px;
	
}
.activityCampaign ul li {
	list-style:none;
	background:#fff;
	
}
.activityCampaign ul li a{
	border-bottom: 1px solid #e3e3e3;
	line-height: 24px;
	padding: 10px 15px;
	display:block;
}
.activityCampaign i{
	color:#009999;
}
.activityCampaign li a:hover{
	background:#f4f4f4;
}
.activityCampaign li:nth-child(n+10) a{
	/* background:#f4f4f4; */
}
.activityCampaign .activityDate{

	padding-right:10px;
	position:absolute;
	right:0;
	color:#ccc;
	font-size:10px;
}
.activityCampaign .activityTarget{
	color:#009999;
}




/**********************/
/***     MAIN       ***/
/**********************/

section.greeting{
}
section.greeting .alert{
	background:#fff;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-ms-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
section.mapslide {
	margin: 10px 0;
}
section.mapslide .map{
	height: 410px;
	overflow:hidden;
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-ms-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	background:#353535;
}


section.mapslide .panelTitle{
	height: 50px;
	padding-left: 15px;
	
}

section.mapslide .panelTitle h2{
	color:#009999;
	font-size: 14px;
	margin: 0;
	font-weight: 600;
	
}
section.mapslide .panelTitle li{
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}
section.mapslide .panelTitle:hover{
	cursor:pointer;
}


section.mapslide .mapContainer{
	position: absolute;
	z-index: 100;
	overflow:hidden;
}
section.mapslide .eventsContainer{
	position: relative;
	z-index: 1000;
	background:#fff;
	height:410px;
	border-left: 10px solid #353535;
	margin-left: 70%;
	transition: margin-left 0.7s ease;
	-webkit-transition: margin-left 0.7s ease;
	-moz-transition: margin-left 0.7s ease;
	-o-transition: margin-left 0.7s ease;
	-ms-transition: margin-left 0.7s ease;
	
}
section.mapslide .eventsContainer.open{
	margin-left: 5%;
	transition: margin-left 0.7s ease;
	-webkit-transition: margin-left 0.7s ease;
	-moz-transition: margin-left 0.7s ease;
	-o-transition: margin-left 0.7s ease;
	-ms-transition: margin-left 0.7s ease;
	
	
}
section.mapslide .eventsContainer.closed{
	margin-left: 95%;
	transition: margin-left 0.7s ease;
	-webkit-transition: margin-left 0.7s ease;
	-moz-transition: margin-left 0.7s ease;
	-o-transition: margin-left 0.7s ease;
	-ms-transition: margin-left 0.7s ease;
}

section.mapslide .eventsContent, section.mapslide .mapContent{
	opacity: 1;
   transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}
section.mapslide .mapContent{
	margin-left: 10px;
}




#vertical-ticker ul{
	margin-left: 0!important;
	border-left: 1px solid #ccc;
}

#vertical-ticker li.item {
	height: 100px;
	list-style:none;
	background:#f5f5f5;
	margin-right: 10px;
	overflow:hidden;
	padding: 5px 8px;
	margin-bottom: 9px;
}

#vertical-ticker {
	height: 350px;
}

#vertical-ticker li.item p.title{
	font-size: 14px;
	margin-bottom: 0;
	text-transform: uppercase;
}
#vertical-ticker li.item p{
	font-size: 12px;
	color:#515251;
}
#vertical-ticker li.item p.title a{
	color:#2f337b;
}
#vertical-ticker li.item p span.date{
	font-weight: 700;
}




.exploreBar{
	background:#fff;
	height: 50px;
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-ms-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
section.explore .panelTitle h2{
	color:#009999;
	font-size: 14px;
	margin: 0;
	float:left;
	font-weight: 600;
	margin-left: 15px;
	line-height: 50px;
}

.tilesBottom{
	background:#fff;
	height: 50px;
	bottom: 50px;
	position: relative;
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-ms-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
ul#filter {
	margin-right:10px;
}
#filter li{
	list-style:none;
	display: inline;
	line-height: 50px;
	font-size:12px;
}
#filter li a{
	padding: 5px 15px;
}
#filter li a.selected{
	background:#f5f5f5;
}




.createForm{
	background:#fff;
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-ms-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	padding: 20px;
	margin-bottom: 60px;
}
/**********************/
/***     SIDEBAR    ***/
/**********************/

.sideBar{
	background:#fff;
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-ms-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	-o-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	height: 500px;
}


/**********************/
/***     FOOTER     ***/
/**********************/
section.footer{
	bottom: 0;
	width: 100%;
	position: fixed;
	z-index:1005;
	min-height: 50px;
	line-height: 40px;
	background:#353535;
	font-size: 12px;
	color:#999;
	
}
section.footer ul li{
	list-style: none;
	display: inline;
	padding-right: 20px;
}




.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  z-index:1002;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: normal 12px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #009999;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009999), to(#0f6666)); 
  background-image: -webkit-linear-gradient(top, #009999, #0f6666); 
  background-image:    -moz-linear-gradient(top, #009999, #0f6666); 
  background-image:     -ms-linear-gradient(top, #009999, #0f6666); 
  background-image:      -o-linear-gradient(top, #009999, #0f6666); 
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.2);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.2);
}
.ribbon-orange {
  font: normal 12px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #ed7a2f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ed7a2f), to(#d96418)); 
  background-image: -webkit-linear-gradient(top, #ed7a2f, #d96418); 
  background-image:    -moz-linear-gradient(top, #ed7a2f, #d96418); 
  background-image:     -ms-linear-gradient(top, #ed7a2f, #d96418); 
  background-image:      -o-linear-gradient(top, #ed7a2f, #d96418); 
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.2);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.2);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #009999;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}



form .errorlist{
	margin:0;
}
form .errorlist li{
	color:#b93939;
	font-size:11px;
	list-style:none;
}


/********          **********************/
/******** MODALS   **********************/
/********          **********************/


#mikroActHelp.modal{
	border-radius:0;
}
#mikroActHelp.modal h1{
	margin: 0;
	padding:0;
	font-size: 24px;
	font-weight:normal;
	color:#009999;
}
#mikroActHelp.modal .modal-body{
	background:#f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 13px;
	line-height: 20px;
	color:#666;
}
#mikroActHelp.modal .modal-footer{
	border: none;
	background:#fff;
}



#collectiveHelp.modal{
	border-radius:0;
}
#collectiveHelp.modal h1{
	margin: 0;
	padding:0;
	font-size: 24px;
	font-weight:normal;
	color:#009999;
}
#collectiveHelp.modal .modal-body{
	background:#f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 13px;
	line-height: 20px;
	color:#666;
}
#collectiveHelp.modal .modal-footer{
	border: none;
	background:#fff;
}



#campaignHelp.modal{
	border-radius:0;
}
#campaignHelp.modal h1{
	margin: 0;
	padding:0;
	font-size: 24px;
	font-weight:normal;
	color:#009999;
}
#campaignHelp.modal .modal-body{
	background:#f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 13px;
	line-height: 20px;
	color:#666;
}
#campaignHelp.modal .modal-footer{
	border: none;
	background:#fff;
}


#loginModal{
	border-radius:0;
	border:none;
}
#loginModal .modal-footer{
	border-radius:0;
}
#loginModal input{
	height:25px;
}