{% load static from staticfiles %}
{% load compress %}
{% load bootstrap_toolkit %}
<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}MikroAct{% endblock %}</title>
	{% if debug %}
	<link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}css/base.less" />
	<script src="{% static "js/less-1.3.3.min.js" %}"></script>
	{% else %}
	{% compress css %}
	<link rel="stylesheet" type="text/less" media="all" href="{% static "css/base.less" %}" />
	{% endcompress %}
	{% endif %}
	{% bootstrap_stylesheet_tag %}
</head>
<body>
	<div class="container">
		<nav id="main" class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#">MikroAct</a>
				<ul class="nav">
					<li><a href="{% url "home" %}">Home</a></li>
					<li><a href="{% url "mikroact_list" %}">MikroActs</a></li>
					<li><a href="{% url "collection_list" %}">Collections</a></li>
					<li><a href="{% url "collective_list" %}">Collectives</a></li>
				</ul>
				{% if user.is_authenticated %}
				<ul class="nav pull-right">
					<li><a href="{% url "logout" %}">Log out</a></li>
				</ul>
				{% else %}
				<form action="{% url "login" %}" class="navbar-form pull-right" method="post">
					{% csrf_token %}
					<input name="username" id="id_username" type="text" class="span2" placeholder="username">
					<input name="password" type="password" class="span2" placeholder="password">
					<button type="submit" class="btn">Login</button>
				</form>
				{% endif %}
			</div>
		</nav>
		{% block content %}{% endblock content %}
	</div>
</body>
</html>
