<div class="sideCol author">
	{% if profile.user %}
	<a href="{% url 'user_detail' username=profile.user.username %}">
	<div class="authorImg">
	{% if profile.photo %}
		<img src="{{ profile.photo.url }}" width="50" />
	{% else %}
		<div class="noPhoto"><i class="icon-user icon-large"></i></div>
	{% endif %}
	</div>
	<h4>{{ profile.user }}</h4>
	{% if profile.twitter %}<p><a href="http://twitter.com/{{ profile.twitter }}"><i class="icon-twitter"></i>
		{{ profile.twitter }}
</a></p>{% endif %}
</a>
	{% endif %}
</div>
